@import './vars';
@import './saved-list';
@import './movie-card';

body {
  background-image: radial-gradient(#000, #555);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.home-button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: lightskyblue;
  @include easeOut();

  &:hover {
    background-color: #000;
    color: #87CEFA;
  }
}
